.DS_Store
.venv/
.pycache/
__pycache__/
.pytest_cache/
.mplconfig/
.cache/
build/
dist/
*.egg-info/
docs/.Rhistory

outputs/
tmp_data/

/*.aux
/*.bbl
/*.blg
/*.fdb_latexmk
/*.fls
/*.log
/*.out
/*.pdf
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.toc
paper/README.html
